.opc-wrapper .form-login .fieldset .field .label, 
.opc-wrapper .form-shipping-address .fieldset .field .label , 
.checkout-index-index .modal-popup .fieldset .field .label{
    transform: scale(-1, 1);
    moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    
}